html,
body,
div,
ul,
li,
dl,
dt,
dd,
s {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  box-sizing: border-box;
}
/* 
@font-face {
    font-family: 'ali';
    src: url("../font/Alibaba-PuHuiTi-Medium.ttf")
} */

.color-icon {
  color: #d7221a;
  font-size: 25px;
  font-weight: 700;
}

.header-title-list {
  color: #fff;
  text-align: center !important;
  background-color: #ff6e01 !important;
}

.el-table .cell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  word-break: break-all;
  line-height: 23px;
  cursor: pointer;
  text-align: center;
}

@font-face {
  font-family: "iconfont";
  /* project id 1365166 */
  src: url("//at.alicdn.com/t/font_1365166_ckm47x0k0j.eot");
  src: url("//at.alicdn.com/t/font_1365166_ckm47x0k0j.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1365166_ckm47x0k0j.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1365166_ckm47x0k0j.woff") format("woff"),
    url("//at.alicdn.com/t/font_1365166_ckm47x0k0j.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1365166_ckm47x0k0j.svg#iconfont") format("svg");
}

html {
  font-family: "iconfont", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 15px;
  height: 100%;
}

body {
  height: 100%;
}

.cur {
  cursor: pointer;
}

.h100 {
  height: 100%;
}

.fz-15rem {
  font-size: 1.5rem;
}

.fz-20rem {
  font-size: 2rem;
}

.mr-5em {
  margin-right: 0.5em;
}

.ml-5em {
  margin-left: 0.5em;
}

.co-f9c {
  color: #fff99c;
}

.w100 {
  width: 100%;
}

.h10 {
  height: 10%;
}

.h90 {
  height: 90%;
}

.h5 {
  height: 5%;
}

.h95 {
  height: 95%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.list .list-header {
  text-align: center;
}

.list .cell-tbody {
  text-align: center;
}
